@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/**
* All elements
*/
html {
    background: #171717;
}

* {
    font-size: 100%;
    /* font-family: "Ubuntu", sans-serif;*/
    font-family: 'Source Code Pro', monospace;
    color: #fbf7f5;
  }
  
/**
* Front Page
*/
.front-page {
    position: relative;
    height: 100vh;
    width: 100%;
    border: 3px #000000 solid;
    /* text-align: center; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

#text {
    display: inline-block;
    vertical-align: middle;
    color: #fbf7f5;
    letter-spacing: 2px;
    border: 3px #000000 solid;
}

#cursor {
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 50px;
    background-color: #171717;
    animation: blink .5s step-end infinite;
}

@keyframes blink {
    from, to {
        background-color: transparent;
    }
    50% {
        background-color: #fbf7f5;
    }
}

/**
* Side Bar
*/
.side-bar {
    border: #000000 1px solid;
    justify-content: center;
    align-content: top;
    position: fixed;
    height: 100vh;
    width: 10%;
    font-size: 17.5px;
}

/**
* side-bar's Items 
*/

.side-bar > * {
    display: block;
    margin-top: 30px;
}

.side-bar > *:first-child {
    margin-top: 0px;
}

.project-1 {
    grid-area: project-1;
    border: #000000 1px solid;
    font-weight: 400;
}

.project-2 {
    grid-area: project-2;
    border: #000000 1px solid;
    font-weight: 400;
}

.project-3 {
    grid-area: project-3;
    border: #000000 1px solid;
    font-weight: 400;
}


/** 
* Grid Container 
*/
.container {
    border: 1px red solid;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 20%;
}


/**
* container's Grid Items 
*/
.about-me {
    border: #000000 1px solid;
    justify-content: center;
    font-weight: 100;
    margin: auto;
}

.resume {
    border: #000000 1px solid;
    display: grid;
    grid-template-areas:
        "skills"
        "education"
        "experience"
        "additional";
}

/**
* about-me's Grid Items
*/
.about-me-h3 {
    font-weight: 400;
}

.about-me-p1 {
    font-weight: 100;
}

/** 
* resume's Grid Items 
*/
.skills {
    grid-area: skills;
    border: #000000 1px solid;
    font-weight: 400;
}

.education {
    grid-area: education;
    border: #000000 1px solid;
}

.experience {
    grid-area: experience;
    border: #000000 1px solid;
}

.additional {
    grid-area: additional;
    border: #000000 1px solid;
}

