---
---

@import "{{ site.theme }}";

/* Make body text darker */
body {
  color: #222222;
}

/* Remove "Personal website" description text */
header p {
  display: none;
}

/* Make profile picture smaller */
header img {
  max-width: 150px !important;
  width: 150px !important;
}

/* Change links to be underlined and black instead of blue */
a {
  color: #000000;
  text-decoration: underline;
}

a:hover {
  color: #000000;
  text-decoration: underline;
}

/* Move left column flush to the left */
.wrapper {
  padding-left: 0 !important;
}

header {
  padding-left: 20px !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  left: 0 !important;
}

/* Make name text smaller to fit image width */
header h1 {
  font-size: 18px !important;
  line-height: 1.2 !important;
}

/* Remove link styling from name */
header h1 a {
  color: #222222 !important;
  text-decoration: none !important;
  pointer-events: none !important;
  cursor: default !important;
}

/* Remove "This project is maintained by" text */
footer p:first-child {
  display: none !important;
}

/* Make footer text flush left */
footer {
  text-align: left !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
  left: 20px !important;
  position: absolute !important;
  width: 100% !important;
  float: none !important;
}

footer p {
  text-align: left !important;
  margin-left: 0 !important;
}

/* Center and widen the right column */
section {
  width: 580px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  float: none !important;
}
